.main-container {
  display: flex;
  height: calc(100vh - 106px);
  width: 100%;
  box-sizing: border-box;
}
.panel-top {
  height: 50px;
  width: 100%;
}
.panel-left {
  display: flex;
  flex-flow: column wrap;
  flex: 2;
  min-width: 200px;
  max-width: 300px;
}
.panel-right {
  display: flex;
  flex: 2;
}
.panel-center {
  display: flex;
  flex: 6;
  flex-direction: column;
}
.list-group-item {
  padding: 5px;
  cursor: pointer;
}
.controls-container {
  flex: 1;
  overflow-y: auto;
}
.toolbox-container {
  flex: 1;
  overflow-y: auto;
}
.btn-toolbox {
  margin: 5px;
}
.projects-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 5px;
  overflow-y: auto;
}
.projects-manager-container {
  margin: 5px 0;
}
.projects-list-container {
  flex: 1;
  overflow-y: scroll;
}

.project-list-item {
  width: 100%;
}

.container {
  margin: 0;
  padding: 0;
  max-width: none;
}

#tab-prod {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
}

#canvas-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: scroll;
}
canvas {
  width: 2000px;
  height: 2000px;
  position: absolute;
  background: transparent;
}

#model-tabs {
  background: rgb(221, 221, 221);
}

#error-message {
  background-color: #a12525;
  color: white;
  box-sizing: border-box;
  padding: 10px;
  max-width: 300px;
  width: 300px;
  border-radius: 10px;
  position: absolute;
  display: none;
  top: 5px;
  left: 5px;
}
