.main-container {
  display: flex;
  height: calc(100vh - 106px);
  width: 100%;
  box-sizing: border-box;
}
.panel-top {
  height: 50px;
  width: 100%;
}
.panel-left {
  display: flex;
  flex: 3;
}
.panel-right {
  display: flex;
  flex: 3;
}
.panel-center {
  display: flex;
  flex: 6;
}
.container {
  margin: 0;
  padding: 0;
  max-width: none;
}
.my-border {
  border: 1px solid red;
}
